.custom-range {
  overflow: hidden; /* Pour cacher la partie dépassant de la barre */
  width: 100%;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px; /* Largeur du thumb */
  height: 0px; /* Hauteur du thumb */
  background: #4054b2; /* Couleur de fond du thumb */
  cursor: pointer;
  margin-top: -8px; /* Déplacer le thumb vers le haut */
}

.custom-range::-moz-range-thumb {
  width: 0px;
  height: 0px;
  background: #4054b2;
  cursor: pointer;
  margin-top: -8px; /* Déplacer le thumb vers le haut */
}

.custom-range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #4054b2;
  cursor: pointer;
  margin-top: -8px; /* Déplacer le thumb vers le haut */
}
.custom-range::-webkit-slider-runnable-track {
    width: 100%; /* Largeur de la piste */
    height: 5px; /* Hauteur de la piste */
    background-color: #ddd; /* Couleur de fond de la piste */
    border-radius: 2px; /* Bord arrondi de la piste */
}

.custom-range::-moz-range-track {
    width: 100%;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
}

.custom-range::-ms-track {
    width: 100%;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
}

/* Styles pour le range-progress */
.custom-range::-webkit-slider-runnable-track::-webkit-slider-thumb {
    background-color: #4054b2;
}

.custom-range::-moz-range-progress {
    background-color: #4054b2;
}

.custom-range::-ms-fill-lower {
    background-color: #4054b2;
}